[Desktop Entry]
Name=Plurk
Comment=Makes you Plurk data available in KDE
Type=AkonadiResource
Exec=akonadi_plurk_resource
Icon=plurkresource
X-Ubuntu-Gettext-Domain=desktop_kdesdk

X-Akonadi-MimeTypes=application/x-vnd.kde.microblog
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_plurk_resource
